// transitions

$transition-duration: 300ms;
$transition-easing: ease-out;

// UI colors

$color-ui-01: #000;
$color-ui-02: #e0e0e0;

// font colors

$color-font-01: #2b2b2d;
$color-font-02: #e0e0e0;
$color-font-error: #ae3535;

// font sizes

$font-size-h: 32px;
$font-size-regular: 21px;

// font weights

$font-weight-regular: 400;
$font-weight-light: 300;

* {
  font-family: 'Poppins', sans-serif;
}

.h2 {
  font-size: $font-size-h;
}

.h4 {
  font-size: $font-size-regular;
  font-weight: $font-weight-light;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 3vh;
}

.fields__letter-input {
  outline: none;
  border: none;
  border-bottom: 1px solid $color-ui-01;
  width: auto;
  padding: 8px 15px;
  margin-top: 10vh;
  text-align: center;
  font-size: $font-size-regular;
}

.fields__submit {
  width: auto;
  background: $color-ui-01;
  color: $color-font-02;
  font-weight: $font-weight-light;
  font-size: $font-size-regular;
  padding: 8px 15px;
  margin-top: 30px;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-easing;

  &:hover {
    background: $color-ui-02;
    color: $color-font-01;
    cursor: pointer;
  }
}

.fields__lives {
  margin-top: 1vh;
}

.fields__life {
  display: inline-block;
  border: 2px solid $color-ui-01;
  border-radius: 9999px;
  width: 30px;
  height: 30px;
  transition-property: background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-easing;

  & + & {
    margin-left: 5px;
  }

}

.life--full {
  background-color: $color-ui-01;
}

.fields__results {
  font-size: $font-size-regular;
  margin-top: 3vh;
}

.fields__results-letter {
  & + & {
    margin-left: 5px;
  }
}

.fields__garbage {
  margin-top: 3vh;
  color: $color-font-error;
}
